.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fullWidth {
  width: 100%;
  margin: 20px;
}
.margin {
  margin: 20px;
}

.addFlowButton {
  margin: 50px;
}
.listGroupItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flowControlContainer {
  display: flex;
  justify-content: space-between;
}
.button {
  margin-right: 20px;
}